<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/meowhecker.png" alt="">
  </div>
  <div class="headings">
    <h2>Try Hack MeowHacker Website !!</h2>
    <h3>Meowhacker Authentication Systems</h3>
    <a href="/adminpanel" class="btn">Admin page</a>
  </div>
</header>


<%- include('partials/footer'); -%>